
.grid-container {
  max-height: 900px;
  max-width: 60vw;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}


.picture-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 1fr 1fr 1fr;
  row-gap: 1.5rem;
}


.title {
  grid-column: span 4;
  grid-row: 1;
  font-size: 2.7rem;
}


.input-container {
  display: grid;
  place-items: center;
  grid-row: 2;
  grid-column: span 4;
  margin: 0 auto;
  width: 220px;
}

.container {
  height: 200px;
  width: 250px;
  perspective: 600px;
  cursor: pointer;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.3s ease-in-out;
}

.img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  transition: all 0.5s ease-out;
  transform-origin: top;
}

.img-container:hover::after {
  height: 0;
  transform: scale(0.5);
}

.container:hover .img-container {
  transform: rotateY(180deg);
}


.img-front, .img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.img-back {
  transform: rotateY(180deg);
  background: black;
  text-align: center;
}


input {
  height: 30px;
  padding: 1.2rem;
  border: 1px solid lightgray;
  border-radius: 255px;
  text-align: center;
}

p {
  z-index: 5;
  color: white;
  font-size: 25px;
}